{% extends "base.html" %}
{% from "_form_helpers.html" import render_field, render_submit_button %}

{% block title %}Reset Password - {{ super() }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm">
            <div class="card-header bg-success text-white">
                <h4 class="mb-0">{{ _('Set New Password') }}</h4>
            </div>
            <div class="card-body">
                <p class="mb-4">{{ _('Please enter your new password.') }}</p>
                
                <form method="POST" action="{{ url_for('auth.reset_password', token=token) }}" novalidate>
                    {{ form.hidden_tag() }}
                    
                    {{ render_field(form.password) }}
                    {{ render_field(form.password2) }}
                    
                    {{ render_submit_button(form.submit) }}
                </form>
                
                <div class="mt-3">
                    <div class="alert alert-info">
                        <h5 class="alert-heading">{{ _('Password Tips') }}</h5>
                        <ul class="mb-0">
                            <li>{{ _('Use at least 8 characters') }}</li>
                            <li>{{ _('Include uppercase and lowercase letters') }}</li>
                            <li>{{ _('Add numbers and special characters') }}</li>
                            <li>{{ _('Avoid using personal information') }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
